@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 700;
    src: url('font/josefin_sans/JosefinSans-Bold.ttf') format('truetype');
}

/*Thin*/
@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 100;
    src: url('font/josefin_sans/JosefinSans-Thin.ttf') format('truetype');
}

@font-face {
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: 100;
    src: url('font/josefin_sans/JosefinSans-ThinItalic.ttf') format('truetype');
}

/*ExtraLight*/
@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 200;
    src: url('font/josefin_sans/JosefinSans-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: 200;
    src: url('font/josefin_sans/JosefinSans-ExtraLightItalic.ttf') format('truetype');
}

/*Light*/
@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 300;
    src: url('font/josefin_sans/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: 300;
    src: url('font/josefin_sans/JosefinSans-LightItalic.ttf') format('truetype');
}

/*Normal(Regular)*/
@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    src: url('font/josefin_sans/JosefinSans-Regular.ttf') format('truetype');
}

/*Medium*/
@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 500;
    src: url('font/josefin_sans/JosefinSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: 500;
    src: url('font/josefin_sans/JosefinSans-MediumItalic.ttf') format('truetype');
}

/*Semi Bold*/
@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    src: url('font/josefin_sans/JosefinSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: 600;
    src: url('font/josefin_sans/JosefinSans-SemiBoldItalic.ttf') format('truetype');
}

/*Bold*/
@font-face {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 700;
    src: url('font/josefin_sans/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: 700;
    src: url('font/josefin_sans/JosefinSans-BoldItalic.ttf') format('truetype');
}